/* Hero.module.css */
.hero {
  background: linear-gradient(to right, #1a237ee6, #3f51b5e6),
  url(../assets/UERN2.jpg);
  background-size: cover;       /* Faz a imagem ocupar todo o container */
  background-repeat: no-repeat; /* Impede que a imagem se repita */
  background-position: center;
  color: white;
  padding: 15rem;
  border-radius: 2rem;
  margin: 2rem;
  text-align: left;
}

button {
  background-color: #4f84f3;
  color: white;
  border: none;
  padding: 0.7rem 1.5rem;
  margin-top: 1rem;
  border-radius: 20px;
  cursor: pointer;
}

.hero h1 {
  font-size: 3rem;                  /* Aumenta o tamanho do título */
  font-weight: 500;                 /* Um pouco mais leve que bold */
  text-transform: uppercase;        /* Deixa tudo em MAIÚSCULO */
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3); /* Sombra no texto */
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.2rem;                /* Um pouco maior */
  line-height: 1.7;                 /* Espaçamento entre linhas */
  color: #e0e0e0;                   /* Um branco mais suave */
  margin-bottom: 1.5rem;
}
