/* Navbar.module.css */
.navbar {
  font-family: inherit;
  background: #1f2a68;
  color: white;
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.logo {
  width: 150px;     /* Ou 80px, 120px, etc. */
  height: auto;
  align-items: center;
  justify-content: center;
}

.menu button{
  font-family: inherit;
  align-items: center;
  background-color: rgb(24, 42, 97);
  color: rgb(255, 255, 255);
  text-size-adjust: 50rem;
  border: none;
  border-radius: 20px;
  padding: 1rem 1rem;
  margin: 0.05rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  transform: translateY(-4px);
}

.menu button:hover {
  background-color: #4b57a6; /* cor diferente ao passar o mouse */
}

.right {
  font-family: inherit;
  display: flex;
  align-items: center;
  gap: 10px; /* Espaço entre a busca e o botão */
}

.right input {
  font-family: inherit;
  background-color: rgb(255, 255, 255);
  padding: 0.5rem;
  border-radius: 20px;
  border: none;
}

.right button {
  font-family: inherit;
  background-color: rgb(0, 56, 141);
  color: white;
  border: none;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  transform: translateY(-7px);
}

.right button:hover {
  background-color: #4b57a6; /* cor diferente ao passar o mouse */
}